.framer-scrubber {
    height: 80px;
    position: relative;
    width: 100%;
}
.framer-scrubber .scrubber-area,
.framer-scrubber .clipped {
    border: 1.5px solid;
    height: 100%;
    position: absolute;
    width: 100%;
}
.framer-scrubber .scrubber-area {
    background-color: #d3dcdd;
    border-color: #bac7cf;
    border-radius: 3px;
    overflow-x: scroll;	
    overflow-y: hidden;	
    white-space: nowrap;
}
.framer-scrubber .clipped {
    background-color: #c7f5fd;
    border-color: #7be3ec;
    opacity:0.5
}
.framer-scrubber .clip-bracket {
    border: 3px solid #438cb5;
    bottom: -3px;
    position: absolute;
    top: -3px;
    width: 10px;
    z-index: 1;
}
.framer-scrubber .clip-bracket.left {
    border-right: none;
}
.framer-scrubber .clip-bracket.right {
    border-left: none;
    right: 0;
}
.framer-scrubber .clip-bracket .clip-info {
    position: absolute;
    display: none;
    width: 70px;
    background: rgba(255,255,255,0.7);
    padding: 7px 3px;
    font-size: .86em;
    text-align: center;
    left: -35px;
    top: -41px;
}
.framer-scrubber .clip-bracket:hover .clip-info {
    display: block;
}
.framer-scrubber .clip-bracket .handle {
     width: 17px;
     background-color: #438cb5;
     position: absolute;
     top: -3px;
     display: flex;
     color: #fff;
     cursor: col-resize;
     padding: 0;
     text-shadow: 1px 1px 0 #000;
     opacity: 0;
     bottom: -3px;
     align-items: center;
 }
.framer-scrubber .clip-bracket.left .handle {
    left: -17px;
    border-radius: 5px 1px 1px 5px;
}
.framer-scrubber .clip-bracket.right .handle {
    left: 9px;
    border-radius: 1px 5px 5px 1px;
}
.framer-scrubber .clip-bracket .handle:hover {
    opacity: 1;
}
.keyFrame {	
    text-align: center;	
    position: absolute;	
    top: -17px;	
}	
.video-tag {	
    color: #9ab;	
    transform: rotate(-135deg);	
    text-shadow: -1px 2px 1px rgba(0,0,0,.5);	
    width:5px;	
}	
.video-tag-active {	
    color: teal;	
    transform: rotate(-135deg);	
    text-shadow: -1px 2px 1px rgba(0,0,0,.5);	
    width:5px;	
}	
.keyFrame-verticalLine {	
    height: 75px;	
    width: 5px;	
    margin-left: 3.5px;	
}	
.loader {	
    position: absolute;	
    left: 50%	
}	
.keyFrameMarker {	
    width: 5px;	
    background-color: teal;	
    height: 70px;	
}	
