/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Circularstd Medium", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

body {
  margin: 0;
  font-family: "Circularstd Medium", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@font-face {
  font-family: 'Circularstd medium';
  src: url('/fonts/CircularStd-Medium.eot') format('embedded-opentype'), url('/fonts/CircularStd-Medium.woff') format('woff'), url('/fonts/CircularStd-Medium.ttf') format('truetype'), url('/fonts/CircularStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circularstd book';
  src: url('/fonts/CircularStd-Book.eot') format('embedded-opentype'), url('/fonts/CircularStd-Book.woff') format('woff'), url('/fonts/CircularStd-Book.ttf') format('truetype'), url('/fonts/CircularStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circularstd bold';
  src: url('/fonts/CircularStd-Bold.eot') format('embedded-opentype'), url('/fonts/CircularStd-Bold.woff') format('woff'), url('/fonts/CircularStd-Bold.ttf') format('truetype'), url('/fonts/CircularStd-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: Arial, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}